doctype 5
html
  head
    block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    //
      html5.js 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    block body

    block jsincludes
      // put analytics here and append other js when needed
